/*Display Inline*/

.inline {
    display: inline;
}

/*Index Header Rosa y Pestañas de Div*/
.tamañoLogo{
    display: inline;
    width: 50%;
    padding-left: 30%; 
    padding-top: 5%;    
}

 #header {
    display: grid;
    grid-template-areas: 
    "headerRosa headerRosa headerRosa headerRosa headerRosa headerRosa headerRosa"
    "pestañaHome pestañaClases pestañaHorarios pestañaInscripciones pestañaDocentes pestañaGaleria pestañaPreguntas ";
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


#pestañaHome {
    grid-area: pestañaHome;
}

#pestañaClases {
    grid-area: pestañaClases;
}

#pestañaHorarios {
    grid-area: pestañaHorarios;
}

#pestañaInscripciones {
    grid-area: pestañaInscripciones;
}

#pestañaDocentes {
    grid-area: pestañaDocentes;
}

#pestañaGaleria {
    grid-area: pestañaGaleria;
}

#pestañaPreguntas {
    grid-area: pestañaPreguntas;
}

.fondoPestaña {
    background-color: #000000;
    padding: 5% 0% 5% 0% ;
    text-align: center;
} 


/*Logo y Frase*/

#headerRosa {
    grid-area: headerRosa;
    background-color: #ed1e782d;
    left: 41px;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
}


.headerFrase {
    font-family: 'Roboto','Open Sans';
    font-size: 1.2rem;
    font-weight: 300 ; 
    display: inline;
    align-items: flex-end;
}

/*Pestañas*/

.nav {
    background-color: #000000 ;
    --bs-link-color:  #FFFFFF ;
    --bs-link-hover-color:#ed1e79 ;   
    
}


/*Destacado Index*/

#bannerIndex {
    display: grid;
    grid-template-areas: 
    "destacadoBanner"
    "tituloBanner"
    "propuestasBanner"
    "verMas";
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-columns: 1fr;
    background-image: url("../Assets/imgBanner.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto' ,'Open Sans';
    font-style: normal;
    color: #FFFFFF;

}

#destacadoBanner {
    grid-area: destacadoBanner;
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloBanner {
    grid-area: tituloBanner;
    font-size: 3.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    margin:0% 2%;
    font-weight: bold;
    display: flex ;
    justify-content: center;
    align-items: center;    
}

#propuestasBanner {
    grid-area: propuestasBanner;
    font-size: 250%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verMas {
    grid-area: verMas;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    width: 33%;
    padding-top: 1.25rem;
    padding-bottom: 1.56rem;
    margin-top: 2%;
    margin-left: 33%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBlanco {
    color: #FFFFFF;
    --bs-link-color: #FFFFFF;
    --bs-link-hover-color: #c40055;
}

/*Pestaña Ver Más*/

.verMasTexto {
    color: #000000;
    font-family: 'Gothic A1','Open Sans' ; 
    font-size: 25px;
    font-weight: 500;   
    text-align: center ;
    
}

.linksVerMas {
    font-family: 'Roboto Slab','Open Sans';
    font-weight:400 ;
    text-align: center;
    justify-content: center;
    padding-bottom: 2%;
    font-size: 1.8rem;
    --bs-link-hover-color:#d3005b ; 
    --bs-link-color: #ed1e79;
}

.BSD {
    font-family: 'Rozha One' ,'Open Sans';
    font-size: 80px;
    background-image: url("../Assets/2022Banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px !important;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

/*Portada Index*/

#Portada {
    display: grid;
    grid-template-areas: 
    "imagenPortada textoPortada";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#imagenPortada {
    grid-area: imagenPortada;
}

#textoPortada {
    grid-area: textoPortada;
}

.estiloTitulo {
    color: #ed1e79;
    font-size: 600%;
    font-family: 'Roboto Slab','Open Sans';
    font-weight: 900;
    padding-left: 5%;
}

.estiloSubtitulo {
    font-family: 'Roboto Slab', serif ,'Open Sans';
    font-size: 250%;
    font-weight: 400 ;
    line-height: 40px;
    padding-left: 5%;
}

/*Portada Index*/

.indexCuerpoTexto {
    background-color: #ed1e782d;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 5% ;
}

.indexTitulo {
    color: #ed1e79;
    font-family: 'Abhaya Libre','Open Sans';
    font-weight: 900 ;
    font-size: 80px;
    text-align: center;
}

.indexTexto {
    color: #000000;
    font-family: 'Gothic A1','Open Sans';
    font-size: 25px;
    font-weight: 500;   
    text-align: center;
    margin: 0% 2%;
}

.parrafoTexto {
    color: #000000;
    font-family: 'Gothic A1','Open Sans';
    font-size: 1.5rem;
    font-weight: 500;   
    text-align: center;
    margin: 0% 2%;
}

.datosDelEstudio {
    font-family: 'Roboto Slab','Open Sans';
    font-weight: 500 ;
    line-height: 3;
    text-align: center;    
    list-style: none;
    justify-content: center;
    padding-left: 0%;
}

.footer {
    background-color: #000000;
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    
}

.footerTexto {
    color: #FFFFFF;
    font-family: 'Roboto Slab','Open Sans';
    font-weight: 500 ;
    text-align: center ;
    line-height: 2;
     
}

/* Títulos de Pestañas*/



/* Pestaña clases*/


.gradienteRosa {
    background-image: linear-gradient(to bottom, #FFFFFF , #ed1e782d);
}

.tituloDePestañas {
    color: #ed1e79;
    font-family: 'Roboto Slab','Open Sans';
    font-weight:800 ;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

#bloqueClasesUno {
    display: grid;
    grid-template-areas: 
    "imagenClaseUno imagenClaseDos imagenClaseTres"
    "textoClaseUno textoClaseDos textoClaseTres";
    grid-template-columns: 0.10fr 0.10fr 0.10fr;
    grid-template-rows: 0.2fr ;
    column-gap: 2%;
    font-family: 'Roboto Slab','Open Sans';
    margin-left: 50%;
    transform: translateX(-50%);   
    text-align: center;
    justify-content: center;
      
}

#imagenClaseUno {
    grid-area: imagenClaseUno;   
}

#imagenClaseDos {
    grid-area: imagenClaseDos;
}

#imagenClaseTres {
    grid-area: imagenClaseTres;

}

#textoClaseUno {
    grid-area: textoClaseUno;
    
}

#textoClaseDos {
    grid-area: textoClaseDos;
}

#textoClaseTres {
    grid-area: textoClaseTres;
} 

#bloqueClasesDos {
    display: grid;
    grid-template-areas: 
    "imagenClaseDosUno imagenClaseDosDos imagenClaseDosTres"
    "textoClaseDosUno textoClaseDosDos textoClaseDosTres";
    grid-template-columns: 0.10fr 0.10fr 0.10fr;
    grid-template-rows: 0.2fr ;
    column-gap: 2%;
    font-family: 'Roboto Slab','Open Sans';
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);   
    text-align: center;
    justify-content: center;
}

#imagenClaseDosUno {
    grid-area: imagenClaseDosUno;   
}

#imagenClaseDosDos {
    grid-area: imagenClaseDosDos;
}

#imagenClaseDosTres {
    grid-area: imagenClaseDosTres;
}

#textoClaseDosUno {
    grid-area: textoClaseDosUno;
}

#textoClaseDosDos {
    grid-area: textoClaseDosDos;
}

#textoClaseDosTres {
    grid-area: textoClaseDosTres;
} 

.tituloDeClases {
    font-size: 155%;
}

.edadesDeClases {
    font-size: 130%;
}

#bloqueClasesTres {
    display: grid;
    grid-template-areas: 
    "imagenClaseTresUno imagenClaseTresDos"
    "textoClaseTresUno textoClaseTresDos";
    grid-template-columns: 0.10fr 0.10fr 0.10fr;
    grid-template-rows: 0.2fr ;
    column-gap: 2%;
    font-family: 'Roboto Slab','Open Sans';
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);   
    text-align: center;
    justify-content: center;
}

#imagenClaseTresUno {
    grid-area: imagenClaseTresUno;   
}

#imagenClaseTresDos {
    grid-area: imagenClaseTresDos;
}
#textoClaseTresUno {
    grid-area: textoClaseTresUno;
}

#textoClaseTresDos {
    grid-area: textoClaseTresDos;
}


/*Botón Centrado*/

.buttonCentrado{
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px 100px;
    font-family: 'Roboto','Open Sans';
    font-size: 25px;
    margin-bottom: 5%;
    margin-top: 8%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex ;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);    
    --bs-link-hover-color:#d3005b ; 
    --bs-link-color: #ed1e79;    
}

/*Pestaña Inscripciones*/

#gridInscripciones {
    display:grid;
    width: 50%;
    margin-left: 65%;
    transform: translateX(-50%);
    grid-template-areas: 
        "icon name"
        "icon name"
        "icon name"
        "icon name";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.2fr 4fr;    
    margin-top: 2%;
    margin-bottom: 3%;
}

#name {
    grid-area: name; 
}

#icon {
    grid-area: icon;
}

.interlineadoIconos {
    padding-top: 22% ;
    position: relative;
    width: 20%;
    height: 20%;
    
}

.comunicacion {
    font-family: 'Roboto','Open Sans';
    font-size: 120%;
    font-weight: 600 ;
    line-height: 3;
    text-align: left;
    list-style: none;
    padding-left: 2%;
}

.form {
    font-family: 'Gothic A1','Open Sans';
    font-weight: 800 ;
    font-size: 150%;
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 5%;
          
}

.obligatorio {
    font-family: 'Gothic A1','Open Sans';
    font-size: 80%;
    font-weight: 100;
}

.sizeInput {
    width: 220%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20%;
    
}

.sizeInputMensaje {
    width: 220%;
    padding: 20px 20px 100px;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.alineacionForm {
    display: flex ;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-23%);
}

/*Pestaña Docentes*/

.imagenDocente {
    margin: 2%;
}
 
.fondoDocentes {
    background-image: linear-gradient(to right, #FFFFFF , #ed1e7825);
    padding-bottom: 2%;
}

.nombreDocente {
    color: #ed1e79;
    font-family: 'Roboto Slab','Open Sans';
    font-weight: 500 ;
    font-size: 250%;
    padding: 0%;
}

.textoDocente {
    text-align: middle;
    font-family: 'Roboto Slab','Open Sans';
    font-size: 150%;
    margin: 5%;
    
}

.alineacionDocente {
    margin-left: 10%;
    display:inline-grid;
}

#gridDocente {
    display:grid;
    grid-template-areas: 
        "photo texto"
        "photo texto"
        "photo texto";
    grid-template-columns: 0.15fr;     
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-top: 2%;    
    
}

#photo {
    grid-area: photo;
}

#texto {
    grid-area: texto;
}

/*Pestaña Galería*/

#gridGaleria {
    display:grid;
    grid-template-areas: 
    "photoDerecha photoIzquierda"
    "photoDerecha photoIzquierda"
    "photoDerecha photoIzquierda"
    "photoDerecha photoIzquierda";
    grid-template-rows: 1000fr 1000fr;
    grid-template-columns: 0.2fr 4fr;    
}

#photoDerecha {
    grid-area: photoDerecha;   
}

#photoIzquierda {
    grid-area: photoIzquierda;    
}

/*Pestaña Horarios*/

.grillaHorarios {
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.salon {
    background-color: #f8b6c4c5;
    color: #ed1e79;
    font-family: 'Roboto Slab','Open Sans';
    text-align: center;
    font-size: 200%;
    
}

.dias {
    background-color: #f8b6c4c5;
    color: #ed1e79;
    font-family: 'Roboto Slab','Open Sans';
    text-align: center;
    justify-content: center;
    font-size: 200%;
    padding: 2%;
    border-bottom:solid 2px #ed1e79;

    
}

.borderRight {
    border-right:solid 2px #ed1e79;
}

.borderBottom {
    border-bottom:solid 2px #ed1e79;
}

.horarios {
    background-color:#f8b6c4c5;
    color: #ed1e79;
    font-family: 'Roboto Slab','Open Sans';
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
}

.clases {
    background-color: #f8c9d275;
    font-family: 'Roboto Slab','Open Sans';
    color: #ed1e79;
    padding: 1%;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    
}

.contemporaneo {
    text-align: center;    
    font-size: 1.4rem;
}

/*Pestaña Preguntas Frecuentes*/

.gradienteVerticalRosa {
    background-image: linear-gradient(to right, #FFFFFF , #ed1e7825);
}

#gridPreguntas {
    display:grid;
    grid-template-areas: 
    "textoPreguntas imagenPreguntas";
    grid-template-rows: 500fr ;
    grid-template-columns: 1fr 0.9fr;
    margin-right: 5%;
    
}

#textoPreguntas {
    grid-area: textoPreguntas;
    padding-top: 2%;
    margin-left: 5%;
        
}

#imagenPreguntas {
    grid-area: imagenPreguntas;
    padding-bottom: 8%;
    padding-left: 5%;
        
}

.estiloPregunta {
    font-family:'Roboto Slab','Open Sans';
    font-size: 150%;
    color:#ed1e79 ;

}

.estiloRespuesta {
    font-family: 'Roboto Slab','Open Sans';
    font-size: 120%;
    margin-bottom: 8%;

}

.divEnteroHeader{
    width: 100%;
    font-size: 100%;
    text-align: center;
    display: inline;
}

.mobile {
    display: none;
}

body{
    width: 100%;
    margin: 0%;
}

@media (max-width: 600px) {

    .mobile{
        display: initial;
    }

    .element.style {
        background-color: #000000;
        max-height: 0; 
        overflow: hidden
    }
    
    .dropdown-item {
        --bs-dropdown-link-color: #FFFFFF;  
        white-space: nowrap;
    }

    .tamañoLogo {
        display: block;
        width: 100%;
        justify-content: center;
        padding-left: 0%;
    }

    .headerLogo{
        width: 70%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .headerFrase{
        font-size: 100%;
        text-align: center;
    }
    
    .divEnteroHeader{
        width: 100%;
        display: block;
    }

    #header{
        display: block;
        background-color: #FFFFFF;
    }

    #headerRosa{
        background-color: #ed1e782d;
        display: block;
    }

    #pestañaPeguntas{
        display: block;
        width: 100%;
    }

    .fondoPestaña{
        display: block;
        width: 100%;
        padding: 2% 0% 2% 0% ;
        text-align: center;
    }

    .desktop {
        display: none !important;
    }

    #destacadoBanner{
        font-size: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #tituloBanner{
        padding-top: 0%;
        margin-bottom: 5%;
        line-height: 2rem;
        font-size: 1.5rem;
        text-align: center;
    }

    #propuestasBanner{
        padding-top: 0%;
        font-size: 1.5rem;
        margin-bottom: 5%;
        margin-left: 2%;
        text-align: center;

    }

    #verMas{
        margin-top: 2%;
        margin-bottom: 0%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }
    
    #Portada {
        display: grid;
        grid-template-areas: 
        "imagenPortada"
        "textoPortada";
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr;
    }
    
    .estiloTitulo {
        font-size: 2rem;
        font-weight: 900;
        padding-left: 5%;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        
    }
    
    .estiloSubtitulo {
        font-size: 1rem;
        font-weight: 400 ;
        padding-left: 5%;
        margin-bottom: 5%;
        line-height: 1.5rem;
        
    }
     
    #bannerIndex {
        background-color: #ed1e782d;
        grid-template-rows: 1fr;
    }
    
    .indexTitulo {
        font-weight: 900 ;
        font-size: 2.5rem;
        text-align: center;
        margin: 0% 2% 0% 2%;
    }
    
    .indexTexto {
        font-size: 1rem;
        font-weight: 400;   
        text-align: center;
        justify-content: center;
        margin: 0% 5% 0% 5%;
        
    }

    .desktop {
        display: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    

    .fondoPestaña:hover .dropdown-content {
        display: block;
    }

    .tituloDePestañas {
        font-weight:800 ;
        text-align: center;
        font-size: 1.25rem;
    }
   
    /*Pestaña ver más Mobile*/

    .verMasTexto {
        font-size: 1rem;
        font-weight: 400;   
        text-align: center;
        justify-content: center;
        margin: 0% 5% 0% 5%;
        padding-left: 0%;
    }

    .linksVerMas {
        font-weight:800 ;
        text-align: center;
        font-size: 1rem;
    }

    .BSD {
        font-size: 3rem;
        background-image: url("../Assets/2022Banner.jpg");
        background-size: cover;
        background-position: 10%;
        background-repeat: no-repeat;
        color:#FFFFFF ;
        justify-content: center;
        align-items: center;
        
    }

    /* Pestaña clases*/

#bloqueClasesUno {
    display: grid;
    width: 90%;
    grid-template-areas: 
    "imagenClaseUno"
    "textoClaseUno"
    "imagenClaseDos"
    "textoClaseDos"
    "imagenClaseTres"
    "textoClaseTres";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.5fr 0.16fr 0.8fr 0.001fr;
      
}

.tamañoClases{
    width: 95%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#imagenClaseUno {
    grid-area: imagenClaseUno;   
}

#imagenClaseDos {
    grid-area: imagenClaseDos;
}

#imagenClaseTres {
    grid-area: imagenClaseTres;

}

#textoClaseUno {
    grid-area: textoClaseUno;   
}

#textoClaseDos {
    grid-area: textoClaseDos;
}

#textoClaseTres {
    grid-area: textoClaseTres;
} 

.tituloDeClases {
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.edadesDeClases {
    font-size: 1.3rem;
    margin-top: 1%;
    margin-bottom: 5%;
}

#bloqueClasesDos {
    display: grid;
    width: 90%;
    grid-template-areas: 
    "imagenClaseDosUno"
    "textoClaseDosUno"
    "imagenClaseDosDos"
    "textoClaseDosDos" 
    "imagenClaseDosTres"
    "textoClaseDosTres" ;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.2fr 0.5fr 0.16fr 0.25fr 0.12fr;
    
}

#imagenClaseDosUno {
    grid-area: imagenClaseDosUno;   
}

#imagenClaseDosDos {
    grid-area: imagenClaseDosDos;
}

#imagenClaseDosTres {
    grid-area: imagenClaseDosTres;
}

#textoClaseDosUno {
    grid-area: textoClaseDosUno;
}

#textoClaseDosDos {
    grid-area: textoClaseDosDos;
}

#textoClaseDosTres {
    grid-area: textoClaseDosTres;
} 

.tituloDeClasesMobile {
    font-size: 1.3rem;
    margin-top: 1%;
    margin-bottom: 5%;

}

#bloqueClasesTres {
    display: grid;
    width: 90%;
    grid-template-areas: 
    "imagenClaseTresUno "
    "textoClaseTresUno"
    "imagenClaseTresDos"
    "textoClaseTresDos" ;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.016fr;
}

#imagenClaseTresUno {
    grid-area: imagenClaseTresUno;   
}

#imagenClaseTresDos {
    grid-area: imagenClaseTresDos;
}

#textoClaseTresUno {
    grid-area: textoClaseTresUno;
    
}

  

/*Button Centrado Mobile*/

.buttonCentrado{
    font-size: 1rem;
    margin-bottom: 8%;
    margin-top: 2%;
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}    

/* Pestaña Inscripciones Mobile*/

#gridInscripciones {
    display:grid;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-40%);
    grid-template-areas: 
        "iconWp nameWp"
        "iconEmail nameEmail"
        "iconInstagram nameInstagram"
        "iconWeb nameWeb";
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 0.2fr 1.5fr;  
    align-content: center;  
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 45%;
}

#iconWp{
    grid-area: iconWp;
}

#iconEmail{
    grid-area: iconEmail;
}

#iconInstagram{
    grid-area: iconInstagram;
}

#iconWeb{
    grid-area: iconWeb;
}

#nameWp{
    grid-area: nameWp;
}

#nameEmail{
    grid-area: nameEmail;
}

#nameInstagram{
    grid-area: nameInstagram;
}

#nameWeb{
    grid-area: nameWeb;
}

.tamañoIconos{
    width: 75%;
}

.comunicacion {
    font-size: 0.9rem;
    font-weight: 600 ;
    display: block;        
}
 
/*Form Mobile*/

.form {
    font-weight: 800 ;
    font-size: 1rem;
    margin-top: 10%;
    margin-bottom: 20%;
          
}

.sizeInput {
    width: 2.2rem;
    padding: 0.6rem 8rem;
    box-sizing: border-box;
    margin-bottom: 20%;
    
}

.sizeInputMensaje {
    width: 100%;
    padding: 1rem 1rem 3rem;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.alineacionForm {
    margin-left: 50%;
    transform: translateX(-60%);
    padding-left: 10%;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
    
}

/*Pestañas Docentes Mobile*/

#gridDocente {
    display:grid;
    grid-template-areas: 
        "photo" 
        "texto"
        "photo"
        "texto" 
        "photo"
        "texto";
    grid-template-columns:1fr; 
    grid-template-rows: 2fr;
    display: inline;    
    margin-top: 2%;
    margin-bottom: 3%; 
    
}

#photo {
    grid-area: photo;
}

#texto {
    grid-area: texto;
}

.alineaciónDocente {
    display: block;
    margin-right: 5%;
    
}

.nombreDocente {
    font-size: 1.25rem;
    margin: 1%;
    font-weight: 800;    
}

.imagenDocente {
    margin-left: 2%;
}

.textoDocente {
    font-size: 1rem;
    margin-bottom: 2%;
    
}

/*Preguntas*/

#gridPreguntas {
    grid-template-columns: 1fr;
    margin-right: 2%;
    
}

#textoPreguntas {
    grid-area: textoPreguntas;
    padding-top: 2%;
    margin-left: 5%;
        
}

#imagenPreguntas {
    grid-area: imagenPreguntas;
    padding-bottom: 8%;
    padding-left: 5%;
        
}

.agrandarMobile {
    padding-bottom: 5%;
    padding-top: 80%;
}

#imagenPreguntas {
    display: none;
}

.estiloPregunta {
    font-size: 1rem;
}

.estiloRespuesta {
    font-size: 1rem;
}

/*Pestaña Horarios*/

.grillaHorarios {
    margin-left: 1%;    
    margin-right: 1%;
    width: 60%;
    padding-right: 5%;
}

.tamañoGrillaMobile {
    width: 80%;   
    padding-right: 10%;
    margin-right: 2%;
}

.salon {
    text-align: center;
    font-size: 0.8rem; 
}

.dias {
    font-size: 0.7rem;
    padding: 2%;    
}

.horarios {
    font-size: 0.7rem;
    padding: 1%;
}

.clases {
    font-size: 0.62rem;    
}

/*Pestaña Galería Mobile*/

#gridGaleria {
    display:grid;
    width: 50%;
    grid-template-areas: 
    "photoDerecha"
    "photoIzquierda"
    "photoDerecha"
    "photoIzquierda"
    "photoDerecha"
    "photoIzquierda"
    "photoDerecha";
    grid-template-rows:  200fr 200fr 200fr 200fr 200fr 200fr 200fr;
    grid-template-columns: 1fr;    
    display: block;
}

#photoDerecha {
    grid-area: photoDerecha;   
    width: 200%;
}

#photoIzquierda {
    grid-area: photoIzquierda;    
    width: 200%;
}




}



