@import "colores";
@import "align";
@import "fonts";
@import "tamaños";
@import "display";

.interlineadoIconos {
    padding-top: 22%;
    position: relative;
    width: 20%;
    height: 20%;
}
  
.comunicacion {
    font-family: "Roboto", "Open Sans";
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 3;
    text-align: left;
    list-style: none;
    padding-left: 2%;
}

