@import "colores";
@import "align";
@import "fonts";
@import "tamaños";

.imagenDocente {
    margin: 2%;
}
  
.fondoDocentes {
    background-image: linear-gradient(to right, #FFFFFF, rgba(237, 30, 120, 0.1450980392));
    padding-bottom: 2%;
}
  
.nombreDocente {
    color: #ed1e79;
    font-family: "Roboto Slab", "Open Sans";
    font-weight: 500;
    font-size: 250%;
    padding: 0%;
}
  
.textoDocente {
    font-family: "Roboto Slab", "Open Sans";
    font-size: 150%;
    margin: 5%;
}
  
.alineacionDocente {
    margin-left: 10%;
    display: inline-grid;
}
  
 #gridDocente {
    display: grid;
    grid-template-areas: "photo texto" "photo texto" "photo texto";
    grid-template-columns: 0.15fr;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-top: 2%;
}
  
#photo {
    grid-area: photo;
}
  
#texto {
    grid-area: texto;
}

@media (max-width: 600px) {

    #gridDocente {
        display: grid;
        grid-template-areas: "photo" "texto" "photo" "texto" "photo" "texto";
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        display: inline;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    #photo {
        grid-area: photo;
    }

    #texto {
        grid-area: texto;
    }

    .alineaciónDocente {
        display: block;
        margin-right: 5%;
    }

    .nombreDocente {
        font-size: 1.25rem;
        margin: 1%;
        font-weight: 800;
    }

    .imagenDocente {
        margin-left: 2%;
    }

    .textoDocente {
        font-size: 1rem;
        margin-bottom: 2%;
    }
}

@media (min-width: 601px) and (max-width: 642px) {


}

@media (min-width: 601px) and (max-width: 768px) {


}

@media (min-width: 769px) and (max-width: 992px) {


}

@media (min-width: 993px) and (max-width: 1200px) {


}

@media (min-width: 1201px) {


}