@import "colores";
@import "align";
@import "fonts";
@import "tamaños";

.bgDocentes {
    background-color:  $bgDocentes ;

}

.imagenDocente {
    width: 80%;
    margin-bottom: 2%;

}
    
.nombreDocente {
    @extend %tituloPestañas;
    font-weight: 500;
    font-size: 250%;
    padding: 0%;
}
  
.textoDocente {
    font-family: "Roboto Slab", "Open Sans";
    font-size: 150%;
    margin: 5%;
}
    


@media (max-width: 600px) {

    .imagenDocente {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 2%;
        padding-left: 7%;
    }

    .nombreDocente {
        font-size: 1.2rem;
        margin: 1%;
        font-weight: 800;
        text-align: center;
    }

    .textoDocente {
        font-size: 0.8rem;
        margin-bottom: 2%;
        text-align: center;
        margin-bottom: 5%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    .imagenDocente {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 80%;
        padding-left: 7%;
    }

    .imagenDocente {
        margin-left: 2%;
    }

    .nombreDocente {
        font-size: 1.5rem;
        margin-top: 10%;
        font-weight: 800;
        text-align: start ;
    }

    .textoDocente {
        font-size: 1rem;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-left: 0%;
        text-align: start;      
    
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    .imagenDocente {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 2%;
        padding-left: 7%;
    }

    .nombreDocente {
        font-size: 1.5rem;
        margin-top: 10%;
        font-weight: 800;
        text-align: start ;
    }

    .textoDocente {
        font-size: 1rem;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-left: 0%;
        text-align: start;      
    
    }

}

@media (min-width: 993px) and (max-width: 1200px) {

    .imagenDocente {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 2%;
        padding-left: 7%;
    }

    .nombreDocente {
        font-size: 1.8rem;
        margin-top: 15%;
        font-weight: 800;
        text-align: start ;
    }

    .textoDocente {
        font-size: 1.2rem;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-left: 0%;
        text-align: start;      
    
    }

}

@media (min-width: 1201px) {

    .imagenDocente {
        width: 120%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 2%;
        padding-left: 50%;
    }

    .nombreDocente {
        font-size: 2rem;
        margin-top: 15%;
        font-weight: 800;
        margin-left: 20%;
        text-align: start ;
    }

    .textoDocente {
        font-size: 1.8rem;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-left: 20%;
        text-align: start;      
    
    }
}