%tituloPestanas {
    color: $mainRosa;
    font-family: "Roboto Slab", "Open Sans";
}

%texto {
    color: $black;
    font-family: "Gothic A1", "Open Sans";
}

%textoDestacado {
    color: $white;
    font-family: "Roboto", "Open Sans";
    font-style: normal;
    display: flex;
    justify-content: center;
}