@import "colores";
@import "align";
@import "fonts";
@import "tamaños";


.estiloPregunta {
    font-size: 1.5rem;
    @extend %tituloPestañas ;
    margin-left: 3%;
    margin-right: 4%;
}
  
.estiloRespuesta {
    font-family: "Roboto Slab", "Open Sans";
    font-size: 1.2rem;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 4%;
}

.imagenPreguntas {
    width: 90%;
    height: auto;
}
  
.mobile {
    display: none;
}

.gradienteRosa {
    background-image: linear-gradient(to bottom, #FFFFFF , #ed1e782d);
}


@media (max-width: 600px) {

    .estiloPregunta {
        @extend %tituloPestañas ;
        font-size: 1rem;
        margin-left: 3%;
        margin-right: 4%;
    }

      .estiloRespuesta {
        font-size: 0.8rem;
        font-family: "Roboto Slab", "Open Sans";
        margin-left: 3%;
        margin-right: 4%;
    }

}


@media (min-width: 601px) and (max-width: 642px) {

    .tablet {
        display: Initial;
    }

    .desktop {
        display: none !important;
    }

    .dropdown-item {
        --bs-dropdown-link-color: #FFFFFF;
        white-space: nowrap;
    }

    .fondoPestaña {
        display: block;
        width: 100%;
        padding: 0%;
        text-align: center;
    }

    .dropdown-item {
        --bs-dropdown-link-color: #FFFFFF;
        white-space: nowrap;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    .estiloPregunta {
        color:#ed1e79 ;
        font-family:'Roboto Slab','Open Sans';
        font-size: 1.2rem;
        margin-left: 3%;
        margin-right: 4%;
    }

      .estiloRespuesta {
        font-size: 1rem;
        font-family: "Roboto Slab", "Open Sans";
        margin-left: 3%;
        margin-right: 4%;
        margin-bottom: 5%;
    }

    .desktopImg {
        display: none !important;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    .estiloPregunta {
        color:#ed1e79 ;
        font-family:'Roboto Slab','Open Sans';
        font-size: 1.2rem;
        margin-left: 3%;
        margin-right: 4%;
    }

      .estiloRespuesta {
        font-size: 1rem;
        font-family: "Roboto Slab", "Open Sans";
        margin-left: 3%;
        margin-right: 4%;
        margin-bottom: 5%;
    }

}

@media (min-width: 993px) and (max-width: 1200px) {

    .imagenPreguntas {
        width: 90%;
        height: auto;

    }
    
    .estiloPregunta {
        color:#ed1e79 ;
        font-family:'Roboto Slab','Open Sans';
        font-size: 1.2rem;
        margin-left: 3%;
        margin-right: 4%;
    }

    .estiloRespuesta {
        font-size: 1rem;
        font-family: "Roboto Slab", "Open Sans";
        margin-left: 3%;
        margin-right: 4%;
        margin-bottom: 5%;
    }


}
