$transform:translateX(-50%);
$nowrap: nowrap ;

@media (max-width: 600px) {

    .tamanoClases {
        width: 75%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .tamanoClases {
        width: 22%;
        padding-top: 12%;
        margin-top: 8%;
    }

    .comunicacion {
        font-size: 0.9rem;
        padding-right: 20%;
        margin-bottom: 0%;
    }
}

@media (min-width: 601px) and (max-width: 642px) {

    .tablet {
        display: Initial;
    }

    .desktop {
        display: none !important;
    }
}

@media (min-width: 601px) and (max-width: 768px)  {

    .tamanoClases {
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .tamanoClases {
        width: 15%;
        padding-top: 4%;
    }

    .comunicacion {
        font-size: 1.2rem;
        padding-right: 20%;
        margin-bottom: 0%;
    } 
}

@media (min-width: 769px) and (max-width: 992px) {

    .tablet {
        display: Initial;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: initial;
    }

    .tamanoClases {
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .tamanoClases {
        width: 15%;
        padding-top: 4%;
    }

    .comunicacion {
        font-size: 1.2rem;
        padding-right: 20%;
        margin-bottom: 0%;
    }


}

@media (min-width: 993px) and (max-width: 1200px) {

    .tamanoClases {
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .tamañoP {
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
        padding-left: 0%;
        padding-right: 0%;
    }

    .tamañoA {
        width: 68%;
        margin-left: 50%;
        transform: translateX(-50%);
        padding-left: 0%;
        padding-right: 0%;
    }
      

    .tamanoClases {
        width: 10%;
        padding-top: 4%;
    }
      
    .comunicacion {
        font-size: 1.2rem;
        padding-right: 20%;
        margin-bottom: 0%;
        font-family: "Roboto", "Open Sans";
        font-size: 120%;
        font-weight: 600;
        line-height: 3;
        text-align: left;
        list-style: none;
        padding-left: 2%;
    }
}


@media (min-width: 1201px) {

    .tamanoClases {
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .tamañoL {
        width: 80%;
    }

    .tamañoLA {
        width: 68%;
    }
    

    .comunicacion {
        font-size: 1.5rem;
    }
    
    
    .interlineadoIconos {
        padding-top: 20%;
        margin-top: 0%;
        width: 20%;
        height: 20%;
    }


}


